
jogo_de_adivinhacao/__pycache__/jogo_mortal.cpython-311.pyc
jogo_da_forca/jogo da forca/__pycache__/funcoes_da_forca.cpython-311.pyc
main.py
jogo_da_forca/__pycache__/funcoes_da_forca.cpython-311.pyc
jogo_da_forca/__pycache__/jogo_oficial.cpython-311.pyc
tabuada/__pycache__/tabuada_calculo.cpython-311.pyc
jogo_da_velha/__pycache__/jogo_da_velha.cpython-311.pyc
hahahahhaa.py
jogo_da_forca/divas pop.txt
jogo_da_forca/Lista de palavras.txt
jogo_da_forca/manipulando_arquivos.py
jogo_da_forca/presentes casamento.txt
jogo_da_forca/series e filmes.txt
jogo_da_velha/jogo da velha.docx

tabuada/calculadora.py
tabuada/tabuada aleatoria.py

pedra_papel_tesoura/__pycache__/jogo_real.cpython-311.pyc
pedra_papel_tesoura/__pycache__/jogo_oficial.cpython-311.pyc
.gitignore
pedra_papel_tesoura/jogo_oficial.py
pedra_papel_tesoura/escolha_aleatoria.txt
pedra_papel_tesoura/__pycache__/funcoes_do_jogo.cpython-311.pyc
pedra_papel_tesoura/jogo_oficial.py
pedra_papel_tesoura/jogo_oficial.py
