
jogo_de_adivinhacao/__pycache__/jogo_mortal.cpython-311.pyc
jogo_da_forca/jogo da forca/__pycache__/funcoes_da_forca.cpython-311.pyc
main.py
jogo_da_forca/__pycache__/funcoes_da_forca.cpython-311.pyc
jogo_da_forca/__pycache__/jogo_oficial.cpython-311.pyc
tabuada/__pycache__/tabuada_calculo.cpython-311.pyc
jogo_da_velha/__pycache__/jogo_da_velha.cpython-311.pyc
hahahahhaa.py
jogo_da_forca/divas pop.txt
jogo_da_forca/Lista de palavras.txt
jogo_da_forca/manipulando_arquivos.py
jogo_da_forca/presentes casamento.txt
jogo_da_forca/series e filmes.txt
jogo_da_velha/jogo da velha.docx
jogo_de_adivinhacao/acerte o numero.py
jogo_de_adivinhacao/adivinhacao.py
jogo_de_adivinhacao/jogo mortal com vidas.py
.gitignore
jogo_de_adivinhacao/jogo mortal repetindo.py
jogo_de_adivinhacao/jogo_mortal.py
tabuada/calculadora.py
tabuada/tabuada aleatoria.py
